<div contenteditable="true" [ngClass] = "['textbox', 'default-text-style']"> 
    <p [className] = "'primary-color'"> {{selectedText}}</p>
</div>
<div style="display: flex; justify-content: flex-start;">
    <div [ngClass]="['primary-color', 'getSelectTextbtn']" (click)="getSelectedText()">Selected</div>
    <div [ngClass]="['primary-color', 'getSelectTextbtn']" (click)="getAllText()">All</div>
    <div [ngClass]="['primary-color', 'getSelectTextbtn']" (click) = "recommend()">Recommend</div>
</div>