.textbox {
    width: 350px;
    height: 170px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #fff;
    overflow-y: scroll;
    
}

.getSelectTextbtn {
    border-radius: 5px;
    width: fit-content;
    border: solid 2px #df9895; 
    font-family: 'Comfortaa';
    margin-left: 25px;
    box-sizing: border-box;
    padding: 10px;
}