<div [className]="'nav-container'">
  <img style="max-width: 100%; height:20px; padding-right: 5px" src="\assets\TextTunesLogo.png">
  <h1><span [className]="'primary-color'">Text</span><span [className]="'secondary-color'">Tunes</span> </h1>
</div>

<div  style="width: 400px; height: 300px" [ngClass] = "{'center-child' : !(tokenStore.userSignedIn)}">
    <ng-container *ngIf = "!(tokenStore.userSignedIn)"> 
      <SpotifyLoginComponent  ></SpotifyLoginComponent>
    </ng-container>

    <div *ngIf = "tokenStore.userSignedIn">
      <UserDataComponent> </UserDataComponent>
    </div>
</div>
