<div [className]="'nav-container'">
  <img style="max-width: 100%; height:20px; padding-right: 5px" src="\assets\TextTunesLogo.png">
  <h1 style="margin: 0;"><span [className]="'primary-color'">Text</span><span
      [className]="'secondary-color'">Tunes</span> </h1>
</div>

<div style="width: 400px; height: 300px" [ngClass]="{'center-child' : !(tokenStore.userSignedIn)}">

  <div class="loading" *ngIf="tokenStore.loading">
    <h1>
      Loading
    </h1>
  </div>

  <ng-container *ngIf="!(tokenStore.userSignedIn) && !(tokenStore.loading)">
    <SpotifyLoginComponent></SpotifyLoginComponent>
  </ng-container>
  <ng-container *ngIf="tokenStore.userSignedIn && !(tokenStore.loading)">
    <UserDataComponent> </UserDataComponent>
  </ng-container>
  <ng-container *ngIf="tokenStore.userSignedIn && !(tokenStore.loading)">
    <mat-tab-group [ngClass]="['default-text-style', 'primary-color']"[fitInkBarToContent]='true'>
      <mat-tab label = "Input Your Text" [ngClass]="'navbar'">
        <GetTextComponent></GetTextComponent>
      </mat-tab>
      <mat-tab label="Results"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>

  </ng-container>

</div>